<footer class="fixed bottom-0 w-full text-md border-t m-auto z-50">
  <div class="flex justify-between px-4 py-3 bg-white sm:px-20 bottom-nav">
    <button type="submit">
      <i class="fa-regular fa-heart" style="color: red;"></i> Save For Later
    </button>
    <button type="submit">
      <i class="fa-regular fa-calendar-plus" style="color: #000000;"></i> Create Post
    </button>
  </div>
</footer>