<div id="formContainer"
    class="fixed top-0 left-0 w-full h-full bg-gray-500 bg-opacity-75 flex justify-center items-center hidden z-50">
    <div class="bg-white rounded shadow-lg p-8">
        <h2 class="text-xl font-bold mb-4">Create Group</h2>
        <form method="post" action="/create-group/<%- event.id %>">
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="groupName">
                    Group Name
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="groupName" id="groupName" type="text" placeholder="Group Name" maxlength="50">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-bold mb-2" for="creatorMessage">
                    Message to Group Members
                </label>
                <textarea
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="creatorMessage" name="creatorMessage" type="text" placeholder="Message to Group Members"
                    maxlength="400"></textarea>
            </div>
            <div class="flex justify-end">
                <button id="closeFormButton" type="submit"
                    class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded mr-2">
                    Cancel
                </button>
                <button
                    class="bg-[#878d26] text-white hover:bg-white hover:text-[#878d26] hover:border-2 hover:border-[#878d26] font-bold py-2 px-4 rounded"
                    type="submit">
                    Add Group
                </button>
            </div>
        </form>
    </div>
</div>