<footer class="fixed bottom-0 w-full text-md border-t border-gray-300 shadow m-auto z-50">
  <div class="flex justify-between px-4 py-3 bg-white sm:px-20 bottom-nav">
    <a href="/">Explore</a>
    <a href="/meet">Meet</a>
    <a id="addpost" class="flex flex-col justify-center" href="/post-create"><i class="fa-solid fa-square-plus text-3xl mx-2"
        style="color: #4d7c0f"></i></a>
    <a class="pr-2 lg:mb-0" href="/chat">Chat</a>
    <a href="/profile">Profile</a>
  </div>
</footer>