<footer class="fixed bottom-0 w-full text-md border-t m-auto z-40 bg-white h-16">
  <div class="flex justify-between px-4 py-3 sm:px-20 bottom-nav h-full">
    <a class="footer-btn font-semibold" id="explore-btn" href="/">Explore</a>
    <a class="footer-btn font-semibold" id="meet-btn" href="/meet">Meet</a>
    <a class="flex flex-col justify-center" href="/post-create"><i class="footer-btn fa-solid fa-square-plus text-3xl"
        id="add-post-btn"></i></a>
    <a class="footer-btn font-semibold" id="chat-btn" class="pr-2 lg:mb-0" href="/chat">Chat</a>
    <a class="footer-btn font-semibold" id="profile-btn" href="/user-profile">Profile</a>
  </div>
</footer>