<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Explore</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/TravelMeet/static/header-functions.js">
  <script src="https://kit.fontawesome.com/4f07117f88.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="fixed top-0 w-full z-50 bg-white">
      <div class="flex justify-center mt-2 mb-2 text-lime-700">
        <a class="inline-block mr-1 border-solid border-2 border-r-1 border-lime-700 rounded-l-xl {{ active ? 'bg-white text-lime-700' : 'bg-lime-700 text-white' }} text-center px-4 py-1"
          href="/feeds">Feeds</a>
        <a class="inline-block ml-1 border-solid border-2 border-l-1 border-lime-700 rounded-r-xl {{ active ? 'bg-white text-lime-700' : 'bg-lime-700 text-white' }} text-center px-4 py-1"
          href="/events">Events</a>
      </div>
      <div class="flex mt-2 mb-2 p-1 border-2 border-[#878d26] bg-[#e4e7ac] justify-evenly">
        <a href="/art-events"><i class="fa-solid fa-palette text-3xl mx-2" style="color: #878d26;"></i></a>
        <a href="/film-events"><i class="fa-solid fa-film text-3xl mx-2" style="color: #987e15;"></i></a>
        <a href="/music-events"><i class="fa-solid fa-music text-3xl mx-2" style="color: #594b09;"></i></a>
        <a href="/sporting-events"><i class="fa-solid fa-baseball-bat-ball text-3xl mx-2" style="color: #ca3c25;"></i></a>
        <a href="/hiking-events"><i class="fa-solid fa-person-hiking text-3xl mx-2" style="color: #878d26;"></i></a>
      </div>
    </div>

  </header>

</body>

</html>