<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Explore</title>
</head>

<body>
  <header>
    <a class="inline-block rounded-l-lg {{ active ? 'bg-white text-green-500' : 'bg-green-500 text-white' }} text-center px-4 py-2"
      href="/feeds">Feeds</a>
    <a class="inline-block rounded-r-lg {{ active ? 'bg-white text-green-500' : 'bg-green-500 text-white' }} text-center px-4 py-2"
      href="/events">Events</a>

  </header>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let links = document.querySelectorAll('a');
      for (let i = 0; i < links.length; i++) {
        links[i].addEventListener('click', function () {
          var activeLink = document.querySelector('a.active');
          if (activeLink) {
            activeLink.classList.remove('active');
          }
          this.classList.add('active');
        });
      }
    });
  </script>

</body>

</html>