<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>



    <!-- use tailwind cdn for development only -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- use tailwind cdn for development only-->

    <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link href="/output.css" rel="stylesheet" />
    <script defer src="/event-group.js"></script>
    <title>Event</title>
</head>

<body class="w-full h-full">
    <div class="flex flex-col m-auto w-full h-full box-border relative">
        <!-- top section start-->
        <%- include("../partials/event-top.ejs"); %>
            <!-- top section end-->

            <!-- bottom section start-->
            <div
                class="flex flex-col group-details w-full overflow-y-auto overflow-x-hidden box-border  h-3/4 mb-20 m-auto px-5 ">
                <div class="w-full max-w-xs m-auto">
                    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="group-name">
                                Group name
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="group-name" type="text" placeholder="Group name">
                        </div>
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="group-description">
                                Group description
                            </label>
                            <textarea
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="group-description" type="text" placeholder="Group description"></textarea>
                        </div>
                        <div class="flex items-center justify-between">
                            <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="button">
                                Sign In
                            </button>
                        </div>
                    </form>
                    <p class="text-center text-gray-500 text-xs">
                        &copy;2020 Acme Corp. All rights reserved.
                    </p>
                </div>
            </div>
            <footer class="fixed bottom-0 w-full text-md border-t shadow m-auto z-50 bg-white px-4 py-3">
                <div class="flex justify-center">
                    <a class="flex justify-center items-center text-md text-[#878d26] font-bold"
                        href="/add-group/<%- event.id %>/">
                        <i class="fa-solid fa-plus fa-2x mx-2"></i> Add Group</a>
                </div>
    </div>
    </footer>
</body>

</html>