<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
  <link href="/output.css" rel="stylesheet" />

  <!-- use cdn for development only -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- use cdn for development only-->
  <script defer src="../user-location.js"></script>
  <script defer src="../secret-keys.js"></script>
  <script defer src="../events.js"></script>
  <script defer src="../feeds.js"></script>

  <title>Events</title>
</head>

<body class="font-sans">
  <div id="loading"
    class="fixed hidden top-0 left-0 w-full h-full bg-black bg-opacity-50 flex flex-col justify-center items-center z-50">
    <div class="spinner border-4 border-opacity-75 border-white border-t-0 rounded-full w-12 h-12 animate-spin"></div>
    <div class="mt-10 font-semibold text-lg text-white">Loading Location</div>
  </div>
  <header>
    <div class="fixed top-0 w-full z-40 bg-white drop-shadow-sm">
      <div class="flex justify-center mt-2 mb-2 text-[#878d26]">
        <button id="feed-link"
          class="inline-block ml-0 rounded-l-xl shadow-md text-md text-center px-7 py-2 switch-btn">
          Feeds
        </button>
        <button id="event-link"
          class="inline-block mr-0 rounded-r-xl shadow-md text-center text-md px-7 py-2 switch-btn">
          Events
        </button>
      </div>
      <div class="flex mt-2 p-4 border-b justify-evenly header-div">
        <button class="sort-btn active-icon" id="default-btn" data-api-query="">
          <i class="fa-sharp fa-solid fa-earth-americas text-2xl mx-2"></i>
        </button>
        <button class="sort-btn" data-api-query="art">
          <i class="fa-solid fa-palette text-2xl mx-2"></i>
        </button>
        <button class="sort-btn" data-api-query="music">
          <i class="fa-solid fa-music text-2xl mx-2 text-black"></i>
        </button>
        <button class="sort-btn" data-api-query="sport">
          <i class="fa-solid fa-baseball-bat-ball text-2xl mx-2 text-black"></i>
        </button>
        <button class="sort-btn" data-api-query="seminar">
          <i class="fa-solid fa-person-chalkboard text-2xl mx-2"></i>
        </button>
        <button class="sort-btn hidden outdoors" data-api-query="outdoors">
          <i class="fa-solid fa-person-hiking text-2xl mx-2"></i>
        </button>
      </div>
    </div>
  </header>
  <div class="flex flex-col container m-auto sm:w-full mt-36 pb-20">
  </div>
  <%- include("../partials/footer.ejs"); %>
</body>

</html>