<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- use cdn for development only -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- use cdn for development only-->

    <link href="/output.css" rel="stylesheet" />
    <script defer src="../secret-keys.js"></script>
    <script defer src="../event.js"></script>
    <title>Event</title>
  </head>
  <body>
    <div class="flex flex-col container m-auto max-w-max">
      <h1 class="text-3xl text-center"></h1>
    </p>
     <button class="bg-button hover:bg-button-hover text-white font-bold py-1 px-1 rounded text-xs sm:py-2 sm:px-2 sm:text-sm">Get Tickets</button> 
</div>
    </div>
  </body>
</html>
