<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<style>
  #googleMap {
      height: 400px;
  }
</style>
<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Use TravelMeet Map To Give You A Great Travel Feeling</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="from" class="col-xs-2 control-label"><i class="far fa-dot-circle"></i></label>
                    <div class="col-xs-4">
                        <input type="text" id="from" placeholder="Origin" class="form-control">
                    </div>
               </div>
               <div class="form-group">
                
                    <label for="to" class="col-xs-2 control-label"><i class="fas fa-map-marker-alt"></i></label>
                    <div class="col-xs-4">
                        <input type="text" id="to" placeholder="Destination" class="form-control">
                    </div>
                  
                 </div>
                 
            </form>

            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-info btn-lg " onclick="calcRoute();"><i class="fas fa-map-signs"></i></button>
                <button class="btn btn-info btn-lg" onclick="getCurrentLocation();"><i class="fas fa-map-marker-alt"></i></button>
            </div>
        </div>
        <div class="container-fluid">
            <div id="googleMap">

            </div>
            <div id="output">

            </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC66l_Lc6TMFt_xuCzmZrgdOQeaHUeNyPQ&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script>
        var myLatLng = { lat: 38.3460, lng: -0.4907 };
        var mapOptions = {
            center: myLatLng,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        function calcRoute() {
            var start = document.getElementById("from").value;
            var end = document.getElementById("to").value;
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };
            var directionsService = new google.maps.DirectionsService();
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setMap(map);
                } else {
                    alert("Directions not available for the selected route");
                }
            });
        }

        function getCurrentLocation() {
            // check if geolocation is supported
            if (navigator.geolocation) {
                // get current position
                navigator.geolocation.getCurrentPosition(function(position) {
                    // create a LatLng object with the current position
                    var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    // create a marker at the current position
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: "Your current location"
                    });
                    // center the map on the current position
                    map.setCenter(latLng);
                }, function() {
                    // handle errors
                    alert("Geolocation failed. Please enter your location manually.");
                });
            } else {
                // geolocation is not supported
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>
</body>
</html>
