<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="/output.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
    <!-- use cdn for development only -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- use cdn for development only-->
    <script defer src="../chat-front-end/chat.js"></script>
</head>

<body class="w-screen h-screen">
    <h1 class="text-center">Chat will appear here later. Sorry</h1>
    <div class="w-full h-full">
        <img class=" w-full h-full object-contain"
            src="https://thumbs.dreamstime.com/b/page-not-found-error-screaming-head-vector-layout-template-art-86865411.jpg"
            alt="">
    </div>
    <%- include("../partials/footer.ejs"); %>
</body>
</html>