<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="/output.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
    <!-- use cdn for development only -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- use cdn for development only-->
    <script defer src="../chat-front-end/chat.js"></script>
</head>

<body class="w-screen h-screen">
    <div class="w-full h-3/4">
        <img class="w-full h-full object-contain"
            src="https://marketplace.canva.com/EAFHiC1V4LY/1/0/1600w/canva-yellow-modern-coming-soon-instagram-post-8jNLSbtPTIc.jpg"
            alt="">
    </div>
    <%- include("../partials/footer.ejs"); %>
</body>

</html>