<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" />
</head>

<body class="bg-white font-family-karla h-screen">
    <div class="w-full flex flex-wrap">
        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">
            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                <a href="/" class="bg-black text-white font-bold text-xl p-4">TravelMeet</a>
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Sign Up.</p>
                <% if (errorMessage) { %>
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <form class="flex flex-col pt-3 md:pt-8" enctype="multipart/form-data" method="post"
                            action="/auth/signup">
                            <div class="flex flex-col pt-4">
                                <label for="firstName" class="text-lg">Username</label>
                                <input required type="text" id="name" name="name" placeholder="Username"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                            </div>
                            <div class="flex flex-col pt-4">
                                <label for="email" class="text-lg">Email</label>
                                <input required type="email" id="email" name="email" placeholder="your@email.com"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                            </div>
                            <div class="flex flex-col pt-4">
                                <label for="password" class="text-lg">Password</label>
                                <input required type="password" id="password" name="password" placeholder="Password"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                            </div>
                            <div class="flex flex-col pt-4">
                                <label for="icon-url" class="text-lg">Profile Image</label>
                                <input required type="file" id="icon-url" name="icon"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                    accept="image/*" />
                            </div>
                            <input type="submit" value="Register"
                                class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" />
                        </form>
                        <div class="text-center pt-12 pb-12">
                            <p>
                                Already have an account?
                                <a href="/auth/login" class="underline font-semibold">Login here.</a>
                            </p>
                        </div>
            </div>
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-contain w-full h-screen hidden md:block" src="/icons/logo-large.png" />
        </div>
    </div>
</body>

</html>