<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
    <link href="/output.css" rel="stylesheet" />

    <!-- use cdn for development only -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- use cdn for development only-->
    <script defer src="../maps-front-end/user-location.js"></script>
    <script defer src="../secret-keys.js"></script>
    <script defer src="../maps-front-end/meet.js"></script>


    <title>Map</title>
</head>

<body class="w-full h-full">
    <div id="loading"
        class="fixed hidden top-0 left-0 w-full h-full bg-black bg-opacity-50 flex flex-col justify-center items-center z-50">
        <div class="spinner border-4 border-opacity-75 border-white border-t-0 rounded-full w-12 h-12 animate-spin">
        </div>
        <div class="mt-10 font-semibold text-lg text-white loading-status text-center">Getting your location...</div>
    </div>
    <div id="map" class="w-full h-full mb-20"></div>



    <%- include("../partials/footer.ejs"); %>
</body>

</html>