<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Post</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
</head>

<body class="bg-white">

  <header class="flex justify-center items-center p-4 bg-gray-50">
    <div class="bg-white rounded-md shadow-md flex justify-center items-center w-full h-40 relative">
      <div class="absolute top-0 right-0">
        <button id="add-post-back-btn" class="text-white font-bold py-2 px-4 rounded">
          <i class="fa-solid fa-arrow-rotate-left" style="color: #000000;"></i>
        </button>
      </div>

      <div class="relative flex justify-center items-center">
        <label for="file-input"
          class="relative rounded-lg cursor-pointer hover:bg-gray-300 pointer-events-auto w-full h-40"
          style="line-height: 40px;">
          <i class="fa-regular fa-images fa-5x p-8" style="color: #000000;"></i>
        </label>
        <input id="file-input" type="file" class="absolute w-full opacity-0 cursor-pointer"
          style="z-index: 999; line-height: 40px;" />
      </div>
    </div>
  </header>

  <main>
    <div class="flex flex-col items-center justify-center mt-0">
      <h1 class="text-xl mb-2">Post Creator</h1>

      <div class="h-20 w-20 max-w-20 object-center">
        <!-- Needs to be logged in users image -->
        <img class="rounded-full h-full w-full"
          src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png"
          alt="Circular image">
      </div>
      

      <div class="mt-8">

        <form id="addPostContainer" action="/post-create" method="POST" class="w-full max-w-sm">
          <div class="mb-4">
            <input class="border border-gray-400 rounded-lg py-2 px-4 w-full" type="text" name="title" id="title"
              placeholder="Title" required>
          </div>
          <div class="mb-4">
            <textarea class="border border-gray-400 rounded-lg py-2 px-4 w-full" name="caption" id="caption"
              placeholder="Add Caption" required></textarea>
          </div>
          <div class="mb-4">
            <input class="border border-gray-400 rounded-lg py-2 px-4 w-full" type="text" name="location" id="location"
              placeholder="Location" required>
          </div>
          <div class="mb-4">
            <select class="border border-gray-400 rounded-lg py-2 px-4 w-full" name="category" id="category"
              placeholder="Category" required>
              <option value="" disabled selected hidden>Choose Category</option>
              <option value="art">Art</option>
              <option value="music">Music</option>
              <option value="sport">Sport</option>
              <option value="seminar">Seminar</option>
              <option value="outdoors">Outdoors</option>
            </select>
          </div>
          <!-- Move button solely to the footer ejs -->
          <div class="flex items-center justify-center">
            <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-14">
              Add Post
            </button>
          </div>

        </form>

      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/add-post-bottom') %>
  </footer>
  
</body>

</html>